<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="EstateBrokerContext1"
		 providerName="System.Data.SqlClient"
		 connectionString="Data Source= den1.mssql7.gear.host;
Initial Catalog=estatebrokerdb;User ID=estatebrokerdb;Password=Sd8a-9E?0B5E" />
	</connectionStrings>
</configuration>